################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/94_character_TMNIST.csv

bin/
obj/
.vs/
/mnist_test.csv
/mnist_train.csv
/handwritten_digits_large.csv
/handwritten_digits_medium.csv
/handwritten_digits_small.csv
