################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/94_character_TMNIST.csv

bin/
obj/
.vs/